*{
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Poppins', sans-serif !important;
}
h1,h2,h3,h4,h5,h6,p{
    margin: 0;
    padding: 0;
}
a{
    color:#757575;
}
@mixin d-fl{
    display:flex;
    align-items: center;
}
@mixin d-ss {
    @include d-fl;
    justify-content: center;
} 
@mixin d-sb {
    @include d-fl;
    justify-content: space-between;         
} 
@mixin d-sa {
    @include d-fl;
    justify-content: space-around;
} 
.app-bar-items{
    @include d-sb;
    width: 100%;
    h2{
        font-weight: 500;
    }
}
.card-part{
    @include d-sa;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
    .card{
        flex-grow: 1;
        margin: 10px;
        color: #fff;
    }
    .card:nth-child(1){
        background-color: rgb(247,93,129);
    }
    .card:nth-child(2){
        background-color: rgba(125,212,32,0.8);
    }
    .card:nth-child(3){
        background-color: rgb(66,165,254);
    }
    .card:nth-child(4){
        background-color: rgb(114,103,185);
    }
    .card-wrapper{
        @include d-sb;
        padding: 10px;
        margin: 10px;
    }
}
.chart-part{
    &-wrapper{
        @include d-ss;
        .card-chart{
            flex:1;
            max-width: 100%;
            min-width: 300px;
            margin: 10px;
            padding: 10px;
        }
        @media (max-width:775px){
            &{
                flex-wrap: wrap;
            }
        }
    }
}

.books{
    margin-top: 10px;
}
.table-data{
    width: 98.5%;
    margin: 10px auto;
}